<!DOCTYPE html>
<html lang="en">

<head>
  {% load staticfiles %}
  <title>Heroes of the Storm</title>
  <script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/dropdown.js'%}"></script>
  <link rel="stylesheet" href="{% static 'css/navbar.css'%}" />
  <link rel="icon" type="image/png" href="{% static 'img/heroes.png' %}">
</head>

<body>
  <header>
    <!-- Navigation bar -->
    <!-- What I need to do
      #Need to center the navbar
      #When cursor hovers, it needs to be transparent
      #When you scroll down, the navbar sticks to the top of the page
      #I think the image and button aren't in the navbar specifically, maybe use a div tag?
   -->
    <div class="nav-header">
      <div class="container">
        <div class="header-inner">
          <div class="header-image">
            <a href="#" id="hots-img"><img id="img-header" src="{% static 'img/hots-logo.png' %}"></img></a>
          </div>
          <div class="main-nav">
            <nav class="navi">
              <ul>
                <!-- Logo here -->
                <!--<li><a href="#" id="hots-img"><img id="img-header" src="{% static 'img/hots-logo.png' %}"></img></a></li>-->
                <li class="dropdown navi"><button class="dropbtn" id="gamebtn">Games</button>
                  <div class="dropdown-content" id="gamecontent">
                    <a href="#">Overview</a>
                    <a href="#">Roles</a>
                    <a href="#">Modes</a>
                    <a href="#">Heroes Brawl</a>
                    <a href="#">Battlegrounds</a>
                    <a href="#">Ranked Play</a>
                    <a href="#">Media</a>
                    <a href="#">Recruit a Friend</a>
                  </div>
                </li>
                <li class="navi"><a href="#">Heroes</a></li>
                <li class="navi"><a href="#">News</a></li>
                <li class="dropdown navi"><button class="dropbtn" id="commbtn">Community</button>
                  <div class="dropdown-content" id="commcontent">
                    <a href="#">Leaderboards</a>
                    <a href="#">Forums</a>
                  </div>
                </li>
                <li class="navi"><a href="#">Esports</a></li>
              </ul>

            </nav>
          </div>
          <div class="play-button">
            <a href="" id="header-button">Play Free</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Used for the main page -->
  {% block content %} {% endblock %}
</body>
<footer>

</footer>

</html>
