

.navi{
  background-color:#5437c6;
  list-style-type:none;
  margin:0;
  padding-top:2px;
  padding-bottom:2px;
}

.navi li{
  float:left;
}

.navi li a{
  display:block;
  color:white;
  text-align:center;
  padding: 14px 16px;
  text-decoration:none;
}

.navi li a:hover{
  background-color: #111;
}

.container{
  padding-left: 45px;
  padding-right: 45px;
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown:hover .dropbtn {
    background-color: #111;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c0155;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #956aba;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-header{
  padding-left:50px;
  padding-right:50px;
  max-width: 1530px;
  overflow:hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#header-button{
  background-color:#c25d00;
  color:white;
  cursor:pointer;
  padding: 15px 32px;
  border:none;
  position:absolute;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  margin: 4px 2px;
  float:right;
}

#img-header{
  max-width:100%;
  max-height:100%;
}

#hots-img{
  float:left;
  width:240px;
}
